.MovieDetails {
  background: #eee;
  width: 50%;
  margin: 5em auto 0;
  padding-right: 1em;
  display: flex;
  position: relative;
}

.MovieDetails img {
  margin-right: 2em;
}

.Description {
  max-width: 400px;
  letter-spacing: 0.5px;
  line-height: 1.5em;
}

.Description span {
  font-weight: bold;
}

.BackBtn {
  position: absolute;
  top: 0.5em;
  left: -5em;
}

.BackBtn a {
  text-decoration: none;
}

.BackBtn i {
  color: #888;
  font-size: 2em;
}

.BackBtn i:hover {
  color: #333;
}

@media (max-width: 850px) {
  .MovieDetails {
    width: 85%;
  }

  .BackBtn {
    position: absolute;
    top: -4em;
    left: 0;
  }
}

@media (max-width: 600px) {
  .MovieDetails {
    flex-direction: column;
  }

  .MovieDetails img {
    width: fit-content;
    margin: 0 auto;
  }

  .Description {
    margin-top: 2em;
    padding-left: 1.5em;
  }
}
